/data/beerslaw/debug/
/data/beerslaw/dvet entries/
/data/beerslaw/features/
/data/beerslaw/labels/
/data/beerslaw/parsed simulations/
/data/beerslaw/parsed simulations discarded/
/data/beerslaw/parsed simulations without permutations/
/data/beerslaw/sequenced_simulations/
/data/beerslaw/temp/
/data/beerslaw/temp parsed/
/reports/
/src/logs/
/src/*pyc
/src/.DS_Store
*/.DS_Store
