/data/debug/
/data/dvet entries/
/data/features/
/data/labels/
/data/parsed simulations/
/data/parsed simulations discarded/
/data/parsed simulations without permutations/
/data/sequenced_simulations/
/data/temp/
/data/temp parsed/
/src/logs/
