# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\jadec\kDrive\PHET\Code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
../../data/experiments/old/
../data/experiments/old/
./data/experiments/old/
